/* Definición de colores */
:root {
    --color-primario: #333;
    --color-secundario: #9e9e9e;
    --color-fondo: #fffeb3;
    --color-texto-general: #000;
    --color-texto-blanco: #fff;
    --color-borde: #ddd;
    
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

header {
    background-color: var(--color-primario);
    color: var(--color-texto-blanco);
    text-align: center;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

section {
    padding: 2rem;
}

article {
    margin-bottom: 2rem;
}

table {
    border: 1px solid var(--color-borde);
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid var(--color-borde);
    padding: 8px;
    text-align: left;
}

/* Estilos específicos */
footer {
    background-color: var(--color-primario);
    color: var(--color-texto-blanco);
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    height: auto;
}

footer p{
    margin: 5px;
}

/* Estilo del video */
#video {
    background-color: var(--color-secundario);
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Estilo productos */
.producto-item img {
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease;
}

.producto-container {
    position: relative;
    overflow: hidden;
}

.producto-grid {
    display: flex;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 1rem 0;
    -ms-overflow-style: none;  /* Para Internet Explorer y Edge */
    scrollbar-width: none; /* Para Firefox */
}

.producto-grid::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y Opera */
}

.images-change {
    position: relative;
    width: 100%;
    height: 200px; /* Ajusta la altura según sea necesario */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images-change img {
    max-height: 100%;
    object-fit: contain;
    object-position: center;
}

.producto-item {
    background-color: var(--color-secundario);
    color: var(--color-texto-blanco);
    flex: 0 0 auto;
    text-align: center;
    width: 250px; /* Ajusta el ancho según sea necesario */
    position: relative;
}

.producto-item p{
    background-color: var(--color-primario);
    margin: 0px;
    padding: 16px 0px;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-secundario);
    color: var(--color-texto-blanco);
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 10;
}

.nav-button.left {
    left: 0;
}

.nav-button.right {
    right: 0;
}

.img-frente, .img-detras {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease;
}

.img-frente {
    opacity: 1;
}